/* ::::::::::::GENERIC RULES::::::::::: */
/* :::::::::::COLORS::::::::::::: */

.white{
    color: white;
}

.red{
    background-color: rgb(131, 23, 23);
}

.acquamarine{
    background-color: rgb(21, 146, 146);
}
.black{
    background-color: rgb(0, 0, 0);
}
.lightblue{
    background-color: rgb(32, 148, 202);
}
.blue{
    background-color: rgb(0, 16, 238);
}
.brown{
    background-color: rgb(104, 72, 72);
}

.border-blank{
    border-color: white;
    background-color: white;
    opacity: 1;
}


/* ::::::::::::::::HEIGTH:::::::::::::::::::: */
    
header{
    background-color: rgb(8, 71, 82);
}

.head{
    background-color: rgb(3, 228, 153);
}

.vw-100{
    width: 100vw;
}

.h-80px{
    height: 80px;
}

.h-60vh{
    height: 60vh;
}

footer{
    background-color: darkgrey;
}

.foot{
    background-color: rgb(63, 63, 65);
}

.size-05{
    font-size: .5rem;
}


/* :::::::::::::::SPECIFIC RULES::::::::::::::: */



.square-img{
    width: 200px;
    height: 200px;
}

.button{
    width: 20px;
    height: 26px;
    border: 1px solid white;
}

@media screen and (max-width: 576px){
    .d-xs-none{
        display: none;
    }
    
}
