/* ::::::::::::GENERIC RULES::::::::::: */
/* :::::::::::COLORS::::::::::::: */

.white{
    color: white;
    text-transform: ;
}


/* ::::::::::::::::HEIGTH:::::::::::::::::::: */
    
header{
    background-color: rgb(8, 71, 82);
}

.h-80px{
    height: 80px;
}

/* :::::::::::::::SPECIFIC RULES::::::::::::::: */

.uppercase{
    text-transform: uppercase;
}